FxPriceAdapterService:
  Db:
    LogsConnectionString:
      settings-key: FxPriceAdapterService-LogsConnectionString
      types:
      - AzureTableStorage
      - Logs 

  Rabbit:
    ConnectionString:
      settings-key: RawPriceRabbitMq
      types:
      - RabbitMq 
 
    ExchangeName:
        settings-key: FxPriceAdapter-TickPrices-ExchangeName

  Period:
      settings-key: FxPriceAdapterService-Period

  SourceUrl:
      settings-key: FxPriceAdapterService-SourceUrl
      
SlackNotifications:
  AzureQueue:
    ConnectionString:
      settings-key: SlackNotificationsConnString
      types:
      - AzureTableStorage
    QueueName:
      settings-key: SlackQueueName
      
MonitoringServiceClient:
  MonitoringServiceUrl:
    settings-key: MonitoringServiceUrl
